 /* Footer */
 footer {
     grid-area: footer;
     background: #282A35;
     color: white;
     text-align: center;
     padding: 1em;
 }

 /* Footer Links */
    footer a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
    footer a:hover {
        text-decoration: underline;
    }
    
