 /* Header */
 header {
     grid-area: header;
     background: #282A35;
     color: white;
     padding: 1rem 2rem;
     justify-items: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 header .logo {
     display: flex;
     align-items: center;
     text-decoration: none;
     gap: 0.2rem;
 }

 header .logo img {
     display: block;
     max-width: 150px;
     max-height: 40px;
     object-fit: contain;
     border-radius: 0.5rem;
 }

 header .logo h1 {
     font-size: 1.5rem;
     color: white;
     font-weight: bold;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 }


 header nav {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: none;
     gap: 0.5rem;
     padding: 1rem 1rem;
     text-align: center;
 }

 header nav a {
     color: white;
     text-decoration: none;
     font-weight: bold;
     padding: 5px 10px;
 }

 header nav a:hover {
     color: whitesmoke;
 }


 /* Hamburger hidden by default */
 .nav-hamburger {
     display: none;
     font-size: 2rem;
     cursor: pointer;
     color: white;
     margin-right: 10px;
 }

 /* Responsive navigation */
 @media (max-width: 600px) {
     header nav {
         display: flex;
         align-items: center;
     }

     .nav-links {
         display: none;
         flex-direction: column;
         background: #282A35;
         position: absolute;
         top: 60px;
         /* adjust as needed */
         right: 20px;
         min-width: 150px;
         border-radius: 8px;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
         z-index: 100;
     }

     .nav-links.show {
         display: flex;
     }

     .nav-hamburger {
         display: inline-block;
     }

     .nav-links a {
         padding: 10px;
         border-bottom: 1px solid #444;
         color: white;
         text-align: left;
     }

     .nav-links a:last-child {
         border-bottom: none;
     }
 }