/* Course Page Specific Styles */
        .course-section {
            max-width: 800px;
            margin: 1rem auto;
            padding: 1rem 2rem;
            background: white;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;

        }

        .course-section h2 {
            font-size: 1.5rem;
            text-align: center;
            color: #4CAF50;
        }

        .course-section h3 {
            font-size: 1.2rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            color: #333;
        }

        .contactus-section h4 {
            font-size: 1.2rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            color: #333;
        }

        .course-section p {
            font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 1rem;
            color: #555;
        }

        .course-section ul {
            list-style-type: disc;
            padding-left: 1.5rem;
            color: #555;
            margin-top: 0.5rem;
        }

        .course-section ul li {
            margin-bottom: 0.5rem;
        }
        .enroll-button {
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 0.3rem;
            margin-top: 1rem;
        }