/* download container styles */
.downloads-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    background-color: none;

}

/* individual download section styles */
.download-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.download-card h2 {
    margin-top: 0;
}

.download-card p {
    margin-bottom: 15px;
}

.download-card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #E64A19;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.download-card a:hover {
    background-color: #FF5F1F; 
}