.qbank-section {
  margin: 1rem auto;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subject-card {
  background-color:  #1F2937;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
}

.dropbtn {
  background-color:#E64A19;
  color: white;
  padding: 1rem 3.4rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown:hover .dropbtn {
  background-color: #FF5F1F; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color:#1F2937;1
  border-radius: 8px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #FF5F1F;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

